<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <h4 class="text-white text-capitalize ps-3">Data Penyakit</h4>
        </div>
      </div>
      <div class="card-body px-5 pb-5">
        <div class="table-responsive p-0">
          <table
            class="table align-items-center table-bordered table-striped"
            id="dataTable"
            url="/penyakit/table"
            width="100%"
          ></table>
        </div>
      </div>
    </div>
  </div>
</div>
